<launch>
    <!-- <rosparam file="$(find steer_track)/config/camera.yaml" command="load"/> -->
    <!-- <rosparam file="$(find steer_track)/config/camera2.yaml" command="load"/>
    <node pkg="steer_track" type="hk_camera_node" name="hikrobot_camera" respawn="true" output="screen" />  -->
    <!-- 
    pkg指出ROS应该运行哪个pkg
    type是可执行文件的名称
    name则是可以任意给出的，它覆盖了原文件中ros::init指定的node的名字 -->
    <rosparam file="$(find steer_track)/config/camera2.yaml" command="load"/>
    <node pkg="steer_track" type="hk_camera_node" name="hikrobot_camera3" respawn="true" output="screen" >
    <param name="hk_name"  type = "string"    value="hk_camere3"/>
    </node>

  <arg name="launch_prefix" default="" />
  <!-- configure camera input -->
  <arg name="camera_name3" default="/hikrobot_camera3" />
  <arg name="image_topic3" default="image" />
  <arg name="queue_size3" default="1" />
  <!-- apriltag_ros continuous detection node -->
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_ros_continuous_node" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" ns="camera_3">
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name3)/$(arg image_topic3)" />
    <remap from="camera_info" to="$(arg camera_name3)/camera_info" />

    <param name="publish_tag_detections_image" type="bool" value="true" /><!-- default: false -->
    <param name="queue_size" type="int" value="$(arg queue_size3)" />

    <!-- load parameters (incl. tag family, tags, etc.) -->
    <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml"/>
    <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml"/>
  </node>


</launch>
